@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: #3498db;
$info: #34495e;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

$navbar-box-shadow-color: #000;

$modal-background-background-color: $primary;


// Import only what you need from Bulma
@import "bulma/bulma.sass";

//Imports partials
// @import 'partials/colors';
// @import 'partials/navbar';
// @import 'partials/dropdowns';
// @import 'partials/sections';
// @import 'partials/hero';
// @import 'partials/footer';
// @import 'partials/buttons';
// @import 'partials/cards';
// @import 'partials/forms';
// @import 'partials/animations';
// @import 'partials/sidebar';
// @import 'partials/testimonials';
// @import 'partials/responsive';
@import 'partials/utils';
@import 'partials/tables';

